useDynLib(fmri, .registration = TRUE, .fixes = "C_")
export(read.AFNI,read.ANALYZE,read.DICOM,read.NIFTI,extract.data,cutroi)
export(write.AFNI,write.ANALYZE,write.NIFTI)
export(fmri.stimulus,fmri.design,fmri.lm,sincfilter,slicetiming)
export(fmri.smooth,fmri.pvalue,fmri.searchlight,fmri.cluster)
export(plot.fmridata,plot.fmrisegment,summary.fmridata,print.fmridata)
export(fmri.detrend,fmri.sICA)
export(plot.fmridata)
export(oro2fmri,fmri2oro)
# export(findclusters,simclusterthr)
export(fmri.designG,fmri.lmePar,fmri.metaPar)
export(niftiImage2fmri)
import(parallel,awsMethods,nlme)
  importFrom("grDevices", "col2rgb", "dev.new", "gray", "grey",
             "heat.colors", "hsv", "rainbow")
  importFrom("graphics", "image", "layout", "legend", "lines", "par",
             "plot", "polygon", "text", "title")
  importFrom("methods", "getClassDef", "getValidity", "slot",
             "slotNames")
  importFrom("stats", "IQR", "convolve", "dchisq", "density", "dnorm",
             "formula", "lm", "median", "optim", "pchisq", "pnorm",
             "poly", "prcomp", "pt", "qchisq", "qt", "quantile", "rnorm",
             "rt", "var", "vcov","sd")
  importFrom("utils", "flush.console", "setTxtProgressBar",
             "txtProgressBar")
importFrom(metafor,rma.uni)
importFrom(aws, kernsm)
importFrom(fastICA, fastICA)
S3method(plot,fmridata)
S3method(plot,fmrisegment)
S3method(print,fmridata)
S3method(summary,fmridata)
